body {
    background-color: #FFFFFF;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    list-style-type: none;
}
#header {
    width: 100%;
    background-color: #3ca1c9;
    height: 10em;
}
.admin-content{
  padding: 10px 0px !important;
}
.lang-flag{
    cursor: pointer;
}
.vertical a.item {
    text-align: left !important;
}
.icon.icon-vivanco-logo1 {
    font-size: 14em;
    color: #fff;
    text-align: left;
    margin-left: .3em;
    position: absolute;
    top: -44px;
}
#wrapper h5 {
    margin-right: 2em;
    margin-top: 2em;
}
#wrapper h3 {
    color: #fff;
    font-size: 2em;
    float: right;
    margin-right: 2em;
    margin-top: 2em;
}
#wrapper h2 {
    font-size: 1.5em;
    margin-left: 10em;
    margin-bottom: 2em;
    font-weight: bold;
    color: #3ca1c9;
}
#wrapper li {
    font-size: 1.2em;
    line-height: 4em;
}
a.active.item {
    width: 15em;
    text-align: center;
}
a.item {
    width: 15em;
    text-align: center;
}
.ui.horizontal.segment {
    box-shadow: 0px 0px 0px rgba(39, 41, 43, 0.15);
}
.ui.segment {
    box-shadow: 0px 0px 0px 0px rgba(39, 41, 43, 0.15), 0px 0px 0px 0 rgba(0, 0, 0, 0.05);
}
#container .ui.horizontal.segment {
    margin-bottom: 2em;
}
#container .ui.form.segment .field {
    margin-left: 15em;
    width: 80%;
}
.line {
    width: 100%;
    height: 0.2em;
    background-color: #e5e5e5;
    margin-top: 1em;
    clear: both;
}
#footer {
    border-top: 0.3em solid #6f6f6f;
    margin: 0.5em 0;
}
#footer_info {
    margin: 1em 0;
}
.copyright {
    width: 50%;
    float: left;
    margin-left: 2em;
}
#footer_info img.ui.image {
    float: right;
    margin: 0 0.8em 1em 0;
    width: 30px;
}
.ui.horizontal.segment h4 {
    padding-top: 1em;
}
.ui.horizontal.segment p {
    font-size: 10px;
}
#container .ui.card {
    float: left;
    width: 30%;
    margin: 0 0 2em 15em;
    box-shadow: 0px 3px 0px 0px #fff, 0px 0px 0px 1px #fff;
    text-align: center;
}
.ui.bottom.attached.active.tab.segment {
    border-color: #fff;
}
.ui.buttons.product-join {
    margin-left: 15em;
}
.ui.table tr td {
  border-top: none;
  border-bottom: 1px solid #d4d4d5;
}
img.ui.small.image {
    clear: both;
    float: left;
    margin-right: 1em;
}
.header {
    margin-top: 4em;
    font-size: 1.4em;
    color: #3f98bc;
}
img.ui.big.left.floated.image {
    margin-left: 10em;
    margin-right: 5em;
    width: 300px;
}
.ui.horizontal.segment {
    margin-bottom: 1em;
}
table.ui.celled.table {
    width: 70%;
    margin-left: 15em;
}
table.ui.celled.table p {
    margin-top: 0.5em;
}
img.ui.small.image {
    width: 90px;
}
.fluid.ui.button {
    width: 80%;
    margin-left: 15em;
}