@charset "UTF-8";

@font-face {
  font-family: "untitled-font-7";
  src:url("fonts/VIVANCO.eot");
  src:url("fonts/VIVANCO.eot?#iefix") format("embedded-opentype"),
    url("fonts/VIVANCO.woff") format("woff"),
    url("fonts/VIVANCO.ttf") format("truetype"),
    url("fonts/VIVANCO.svg#untitled-font-7") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-7" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-7" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vivanco-logo2:before {
  content: "a";
}
.icon-vivanco-logo1:before {
  content: "b";
}
