<div class="ui bottom attached active tab segment" data-tab="Product">
    <div class="ui segment">
        <?= $this->Html->image('pic1.jpg', array('class'=>'ui centered image')); ?>
    </div>
</div>